<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1> This is the {{title}}</h1>
    <p>{{screamIt welcomeMessage}}</p>
    <a href="/about">About Page</a>

    <footer>
      <p>Copyright {{currentyear}}</p>
    </footer>
  </body>
</html>
